.topBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 64px !important;
  padding: 16px max(24px, calc((100% - var(--content-width)) / 2));
  border-bottom: 1px solid var(--border-primary);
}
