.contenedor {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  user-select: none;
  margin-bottom: 16px;
}
.header h2 {
  margin: 0;
  font-size: 20px;
  font-weight: normal;
}
.listaConfiguraciones {
  flex: 1 1 auto;
  min-height: 0;
  overflow: auto;
}
.listaConfiguraciones > *:first-child {
  padding-top: 0;
}
