.modalVPNContainer h2{
    font-weight: normal;
}

.modalVPNContainer{
    width: 700px;
    max-width: 100%;
    height: 400px;
    padding: 8px;
}
.primeraParte, .segundaParte {
    display: grid;
    gap: 16px;

}

.primeraParte{
    grid-template-columns: 1fr 1fr; 
}
.segundaParte{
    grid-template-columns: 1fr 2fr 2fr;
}
.label {
    font-size: 12px;
    color: var(--text-secondary);
    margin-bottom: 4px;
}