.container {
  width: 100%;
  height: 100%;
  background: var(--surface-primary);
  border: 1px solid var(--border-primary);
  position: relative;
  border-radius: var(--border-radius, 8px);
}
.deviceNodeContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
  max-width: 40px;
  position: relative;
  padding-bottom: 4px;
}
.deviceNode {
  background: #656565;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  position: relative;
}

.handleTransparent {
  background: transparent !important;
  border: none !important;
}

.connectedDot {
  position: absolute;
  top: 2px;
  right: 2px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #52f88f;
  outline: 2px solid var(--surface-primary);
}

.deviceLabel {
  font-size: 11px;
  white-space: nowrap;
  color: var(--text-primary);
  text-align: center;
  width: max-content;
}

.groupLabel {
  font-size: 13px;
  font-weight: 400;
  color: var(--text-primary);
  position: absolute;
  top: -25px;
  left: 0;
}

.conexionesContainer {
  position: absolute;
  right: 16px;
  top: 16px;
  cursor: pointer;
  z-index: 2;
}
.conexionesContainer > button {
  border: 1px solid var(--border-primary);
}
.conexionesDisponibles {
  position: absolute;
  right: 0;
  top: 115%;
  border: 1px solid var(--border-primary);
  border-radius: var(--border-radius);
  padding: 16px;
  background-color: var(--surface-secondary);
  width: 150px;
  text-align: right;
}
.redChipContainer {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.redChipWrapper {
  padding: 0.5rem 1rem;
  cursor: pointer;
  background: var(--surface-primary);
  border-radius: var(--border-radius);
}
.redChipWrapper.selected {
  opacity: 1;
}

.panelLateral {
  position: absolute;
  top: 0;
  right: 0;
  padding: 1rem;
  width: 300px;
  height: 100%;
  background-color: var(--surface-secondary);
  border-left: 1px solid var(--border-primary);
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}
.panelLateral h3 {
  font-weight: normal;
  line-height: 0;
  margin: 10px 0;
}
.panelLateral .tipoDispo {
  font-size: 13px;
  color: var(--text-secondary);
}
.dispositivoInfoHeader {
  display: flex;
  gap: 2px;
  align-items: center;
  margin-bottom: 1rem;
  width: fit-content;
  /* border-bottom: 1px solid currentColor; */
  cursor: pointer;
  transition: 0.15s all ease-in-out;
}
.dispositivoInfoHeader:hover {
  color: var(--blue);
}
