.contenedor {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  min-height: 0;
}
.comboBoxDispositivo {
  width: 290px;
}
.contenidoDispositivo {
  margin-top: 8px;
  display: flex;
  flex: 1 1 auto;
  min-height: 0;
  overflow: hidden;
}
.item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 0;
  border-bottom: 1px solid var(--border-primary);
}

.itemLista {
  gap: 8px;
  align-items: start;
}

.itemListaDetalle {
  width: 100%;
  margin-bottom: 0.75rem;
}
.itemLista:last-child {
  border-bottom: none;
}
.etiqueta {
  display: flex;
  align-items: center;
  gap: 8px;
  user-select: none;
  color: var(--text-secondary);
}

.imagenDispositivo {
  margin-right: 16px;
  min-width: 260px;
  height: 260px !important;
  width: 260px !important;
  border-radius: var(--border-radius);
  overflow: hidden;
  user-select: none;
}
.descripcion {
  width: 100%;
  padding: 0 16px;
  border-right: 1px solid var(--border-primary);
  border-left: 1px solid var(--border-primary);
}
.configuraciones {
  margin-left: 16px;
  min-width: 450px;
}

.parteSuperior {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.parteSuperior > button {
  border: 1px solid var(--border-primary);
}
