.contenedor {
  position: absolute;
  bottom: 16px;
  left: 16px;
  padding: 16px;
  border: 1px solid var(--border-primary);
  background-color: var(--surface-secondary);
  border-radius: var(--border-radius);
}

.header {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 16px;
  padding-bottom: 12px;
  border-bottom: 1px solid var(--border-primary);
}

.titulo {
  margin: 0;
  font-size: 14px;
  font-weight: normal;
  color: var(--text-primary);
}

.contenido {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.item {
  display: flex;
  gap: 4px;
  justify-content: space-between;
}

.etiqueta {
  display: flex;
  align-items: center;
  gap: 6px;
  font-size: 14px;
  color: var(--text-secondary);
}

.valor {
  font-size: 14px;

  color: var(--text-primary);
  padding-left: 22px;
  word-break: break-word;
}
