.tarjeta {
  position: absolute;
  right: 24px;
  bottom: 16px;
  background-color: var(--surface-secondary);
  border: 1px solid var(--border-primary);
  border-radius: var(--border-radius);
  padding: 16px;
  width: 300px;
  margin: 8px 0;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.1);
}
