.toast {
  position: absolute;
  top: 30px;
  left: 50%;
  transform: translateX(-50%);
}

.toast.show {
  animation: slideInDown 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  opacity: 1;
}

.toast.hide {
  animation: slideOutUp 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  opacity: 0;
}

@keyframes slideInDown {
  from {
    transform: translateX(-50%) translateY(0px);
    opacity: 0;
  }
  to {
    transform: translateX(-50%) translateY(0);
    opacity: 1;
  }
}

@keyframes slideOutUp {
  from {
    transform: translateX(-50%) translateY(0);
    opacity: 1;
  }
  to {
    transform: translateX(-50%) translateY(0px);
    opacity: 0;
  }
}
